.pizzaIsim {
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.pizzaIcindekiler {
  font-style: italic;
}

.pizzaBoyut {
}
.pizzaFiyat {
  font-weight: bolder;
  color: black;
}
.pizzaImg {
  width: 210px;
  height: 150px;
}

.pizzaItem {
  height: 250px;
  width: 200px;
}
